.athlete-bio-page {
    font-family: var(--font-secondary);
    background-color: var(--color-foreground);
    margin: 0;
    padding: 0;
    margin: 0 auto;
    line-height: 1.6;
    text-align: center;
    min-height: 100vh;
}

.main {
    margin: 40px auto;
    padding: var(--gap-section);
    max-width: 800px;
    width: 100%;
    background-color: var(--color-background);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.athlete {
    padding: var(--gap);
}

.athlete__image {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: var(--gap-section) auto;
    border-radius: 5px;
}

.athlete__bio {
    font-size: 20px;
}

.athlete__bio-label {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.athlete__sport-category-label {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.athlete__birth-date-label {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.athlete__nationality-label {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.athlete__career-titles-label {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.athlete__career-titles-list {
    list-style: none;
  }

.athlete__timeline-label {
    font-weight: bold;
}

.athlete__stats-label {
    font-weight: bold;
}

.athlete__bio,
.athlete__nationality,
.athlete__career-titles,
.athlete__position-role {
    margin-bottom: var(--gap);
}

.athlete__stats, 
.athlete__timeline,
.athlete__career-titles-label {
    margin-top: var(--gap-section);
    border-top: 1px solid var(--color-highlight);
    padding-top: var(--gap);
}

.athlete__stats-item,
.athlete__timeline-item {
    margin-bottom: var(--gap);
    font-weight: bold;
}
