/* 
  The .banner class is used for the main banner area, which includes the image, title, caption, and button.

  References:
  - https://css-tricks.com/aspect-ratio-boxes/
*/
.banner {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 56.25%; /* 16:9 aspect ratio (9/16 = 0.5625 or 56.25%) */
}

/* 
  The .banner__slide class styles each individual slide within the banner. Slides are positioned 
  on top of each other using absolute positioning, and are by default fully transparent (opacity: 0), 
  occupying the full size of the parent .banner element. 
*/
.banner__slide {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s; /* This property is used to add a smooth fading effect when slides become active. */
	top: 0;
	left: 0;
}

/*
  The .banner__slide.active class is used to indicate the currently visible slide. The opacity 
  property is overridden to make the active slide fully opaque.
*/
.banner__slide.active {
	opacity: 1;
}

/* 
  .banner__title font size declaration calc(1.5rem + 2vw) is a combination of fixed and responsive units, creating a dynamic font size that adjusts based on the viewport width.

  Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/calc
*/
.banner__title {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: var(--font-banner);
	font-size: calc(1.5rem + 2vw);
	text-align: center;
	color: var(--color-background);
	background: linear-gradient(white, rgba(255,255,255,0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.banner__caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: var(--font-banner);
	font-size: calc(0.5rem + 1vw);
	color: var(--color-background);
	text-align: center;
	background: linear-gradient(white 50%, rgba(255,255,255,0) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* 
  .banner__slide::before is a pseudo-element that acts as an overlay on each slide.
  This darkens the slide's image slightly to improve the readability of any text or content on top of the image.  
*/
.banner__slide::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3); 
}

/* 
  Ensures the slide's image covers the entire area and sits behind other slide content.
*/
.banner__slide img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

@media only screen and (min-width: 480px) {
    .banner__caption {
       font-size: calc(2rem + 0.9vw);
       top: 45%;
    }

    .banner__title {
        font-size: calc(3rem + 1.2vw);
    }
 }

 @media only screen and (min-width: 480px) and (max-width: 1010px) {
    .banner__caption {
        top: 55%;
        font-size: calc(1rem + 1.2vw);
    }
}
